:root {
  --main-color: #ffc75f;
  --secondary-color: #ff6f91;
  --tertiary-color: rgb(46, 46, 223);
  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    var(--secondary-color),
    #ff9671,
    var(--main-color),
    #f9f871
  );
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 300ms ease-in-out;
  outline: none;
}

a:hover,
a:focus {
  color: #d8224d;
}

ul,
li {
  list-style: none;
}

.fancy-link {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 300ms ease-in-out;
  position: relative;
  border: 0;
}

.fancy-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--secondary-color);
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 300ms ease-in-out;
}

.fancy-link:hover::after {
  transform: scaleX(1);
}

.fancy-link:focus {
  box-shadow: unset;
}

.fancy-link:focus-within::after {
  transform: scaleX(1);
}

label {
  display: block;
}

input {
  border: 0;
  border-bottom: 1px solid var(--secondary-color);
  margin: 20px 0;
  padding: 1.2rem 0.8rem 0.2rem;
}

input:disabled {
  background: #ccc;
}

input[type="range"] {
  height: 0;
}

button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

button {
  outline: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: 0;
  text-transform: uppercase;
  padding: 10px 5px;
  background: var(--secondary-color);
  border-radius: 4px;
}

button:active {
  background-color: #ddd;
}

button:focus,
button:hover {
  color: black;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

button::-moz-focus-inner {
  border: 0;
}
